{% comment %}
  Dynamically generate list of links to all category pages
{% endcomment %}
{% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.layout == "category" %}
      <a class="category-link {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}          
      </a>
    {% endif %}
  {% endif %}
{% endfor %}
{% for category in site.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}{{ category | first }}.html"
         class="sidebar-nav-item pl-3rem">
                            <span class="name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
{% endfor %}

